<h1>Editing pizza</h1>

<%= render 'form' %>
<div class='button-wrap'>
	<%= link_to 'Nevermind', @pizza, class: 'btn btn-primary btn-xs' %> |
	<%= link_to 'Back to Main Menu', pizzas_path, class: 'btn btn-default btn-xs' %>
</div>
